html{
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
}
/* #header{
    background-color: red;
    width: 100%;
    height: 140px;
    z-index: -1;
} */

#forumFrame{
    width: 100%;
    height: calc(100% - 140px);
    /* overflow-x: scroll; */
    display: flex;
}

#themes{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    /* overflow-x: scroll; */
}

#themeSearchbar{
    position: relative;
    width: 100%;
}

#themeSearchbarResultsTitle{
    color: white;
}

textarea{
    overflow-y: hidden;
    margin: none;
    resize: none;
    padding: 10px 5px 10px;
    font-size: 65%;
    background-color: lightgray;
    border-radius: 10px;
}

#themeResults{
    border: solid 2px white;
    flex: auto;
    display: flex;
    flex-direction: column;
}
    
.theme{
    position: relative;
    padding-left: 10px;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    width: 100%;
    overflow-x: hidden;
}

#createTheme{
    text-align: center;
}

#selector{
    margin-bottom: 20px;
    display: flex;
}

#favorites{
    width: 20%;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /* overflow-x: scroll; */
}

#favList{
    border: solid 2px white;
    max-height: 90%;
    margin-top: 10px;
    min-height: 30%;
}

.favorite{
    padding-left: 10px;
    color: white;
    border: solid 2px white;
    cursor: pointer;
}
#noTheme{
    cursor: auto;
}

#channel{
    position: relative;
    width: 60%;
    height: 100%;
    padding-left: 10px;
    /* overflow-x: scroll; */
}

#messageArea{
    width: 100%;
    position: absolute;
    height: auto;
    bottom: 0;
}

#messageTextBox{
    position: relative;
    bottom: 0;
    width: calc(100% - 100px);
    max-height: 100px;
}
#typing{
    position: absolute;
    margin-top: -25px;
    width: calc(100% - 100px);
}
#submitMessage{
    width: 30px;
    height: 30px;
    background-color: cyan;
    border-radius: 10px;
    bottom: 0;
}

.message{
    font-size: 75%;
}

#title{
    font-size: 150%;
    text-align: center;
}
.reply{
    font-size: 75%;
    cursor: pointer;
}

.profile{
    border: solid 2px white;
    width: max-content;
    max-width: 25%;
    font-size: 110%;
    display: table-cell;
    
}
.profilePicture{
    /* display: ; */
    position: relative;
    height: 40px;
    width: 40px;
    bottom: -5px;
}
.replyProfilePicture{
    position: relative;
    height: 30px;
    width: 30px;
    bottom: -5px;
}

.selectAnimation {
    animation: colorchange 4s 1;
}

#optionsTrigger {
    border: solid 2px white;
    text-align: center;
    align-items: center;
    position: relative;
    display: none;
}

#optionsMenu {
    border: solid 2px white;
    display: none;
}


@keyframes colorchange {
    
    0% {
        background-color: rgb(65, 65, 65);
    }
    10% {
        background-color: rgb(65, 65, 65);
    }
    100% {
        background-color: black;
    }


}