html {
    margin: 0;
    height: 100%;
}


body {
    margin: 0;
    height: 100%;
    background-color: black;
}

h3 {
    margin: 0;
}

.name_section {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 140px;
}

#content {
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
}

#img_background {
    position: absolute;
    z-index: 0;
    height: calc(100% - 140px);
    width: 100%;
    background: linear-gradient(15deg, rgb(0, 217, 255), rgb(68, 0, 255), rgb(94, 255, 0), rgb(255, 187, 0));
}

#core {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: gray;
    /* max-width: 900px; */
    max-width: 450px;
    /* margin: 0 auto; */
    margin: 0;
    margin-left: 12%;
    z-index: 5;
}

/*#region headerPokedex*/
#headerPokedex {
    width: 100%;
    height: 5%;
    background: radial-gradient(rgb(150, 143, 143), rgb(63, 62, 63));
    align-items: center;
    font-size: 1.8vh;
}

.filter {
    position: relative;
    box-sizing: content-box;
    display: inline;
    margin-top: 15px;
    margin-left: 2%;
    height: 40em;
    border: 0;
}

select {
    width: 12%;
    height: 75%;
    margin-top: 0.5%;
    margin-right: 2%;
    font-size: 95%;
    border: none;
    padding-left: 1%;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5vw top 50%;
    background-size: 0.8vw auto;
}


#searchBar {
    position: relative;
    float: right;
    right: 2%;
    margin-top: 0.5%;
    width: 35%;
    height: 75%;
    background-color: black;
    font-size: 1.8vh;
}

.search {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 80%;
}

/*#endregion */

/*#region Pokedex*/
#pokedexCore {
    display: flex;
    width: 100%;
    height: 95%;
    background-color: azure;
}

#pokedex {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    display: inline-block;
}

.pokemon {
    background-color: rgb(255, 255, 255);
    height: 85px;
    width: 100%;
    margin-bottom: 0.8%;
    overflow: hidden;
}

.colors {
    position: relative;
    background: linear-gradient(35deg, black, red);
    width: 100%;
    height: 100%;
}

.info {
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
    display: flex;
    margin-bottom: 0.3%;
    align-content: center;
    z-index: 2;
}

.img_pokemon {
    position: relative;
    background-color: grey;
    width: auto;
    margin-top: 10px;
    margin-left: 12px;
    height: 80%;
    aspect-ratio: 1/1;
}

.info_pokemon {
    display: flex;
    width: auto;
    height: 100%;
    width: 100%;
}

/*#endregion */

/*#region info_l*/
.info_l {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 10px;
    gap: 10%;

}

.id_pokemon {
    background-color: grey;
    width: 20%;
    height: 15%;
    margin-left: 5%;
}

.nom_pokemon {
    background-color: grey;
    width: 35%;
    height: 20%;
    margin-left: 5%;
}

.type {
    display: flex;
    width: 60%;
    height: 20%;
    margin-left: 5%;
}

.type_1 {
    height: 100%;
    width: 50%;
    background: radial-gradient(rgb(228, 26, 228), purple);
    border-radius: 150px;
    margin: 0%;
}

.type_2 {
    height: 100%;
    width: 50%;
    background: radial-gradient(rgb(0, 255, 0), rgb(0, 99, 0));
    border-radius: 150px;

}

/*#endregion */

/*#region info_r*/
.info_r {
    width: 50%;
    height: 100%;
    padding-top: 10px;
}

.niveau {
    float: right;
    margin-right: 15px;
    width: 25%;
    height: 20%;
    background-color: grey;
}

#Pokemon {
    position: relative;
    height: 100%;
    background-color: grey;
    overflow-y: scroll;
}

#Info_Pokemon {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 12em;
    background-color: aqua;
    display: flex;
}

#sprit {
    background-color: rgb(255, 0, 0);
    width: auto;
    height: 90%;
    margin: 10px;
    aspect-ratio: 1/1;
}

#img {
    background-color: white;
    width: auto;
    background-position: center;
    background-size: 100px;
    margin-top: 8px;
    margin-left: 27px;
    height: 70%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}

#button {
    background-color: rgb(255, 255, 255);
    margin: 8px;
    height: 30px;
    justify-content: center;
    
}

#gender_button{
    align-items: center;
    
}

#Info {
    background-color: red;
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    width: 730px;
    height: 90%;
}

#Info_Pok_l {
    background-color: white;
    width: 40%;
    height: 90%;
    margin: 8px;
}

#id_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 40%;
    margin: 12px;
}

#nom_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 90%;
    margin: 12px;

}

#categorie_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 60%;
    margin: 12px;
}

#type_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 90%;
    margin: 12px;
}

#Info_Pok_r {
    display: flex;
    background-color: white;
    width: 60%;
    height: 90%;
    margin: 8px;
}

#data_pokemon {
    background-color: white;
    width: 80%;
    height: 100%;
}

#gen_Pokemon {
    background-color: rgb(81, 255, 0);
    width: 30%;
    height: 25px;
    margin: 12px;
}

#taille_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 45%;
    margin: 12px;
}

#poids_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 45%;
    margin: 12px;
}

#catch_rate_Pokemon {
    background-color: rgb(81, 255, 0);
    height: 25px;
    width: 80%;
    margin: 12px;
}

#button_user {
    background-color: green;
    width: 20%;
    height: 100%;
}

/*#region fav-bt*/
#check_fav+label .star-dotted {
    display: block;
}

#check_fav+label .star-fill {
    display: none;
}

#check_fav:checked+label .star-dotted {
    display: none;
}

#check_fav:checked+label .star-fill{
    display: block;
}
/*#endregion*/
/*#region catch-bt*/
#check_capture+label .circle-dotted {
    display: block;
}

#check_capture+label .circle-fill {
    display: none;
}

#check_capture:checked+label .circle-dotted {
    display: none;
}

#check_capture:checked+label .circle-fill{
    display: block;
}
/*#endregion*/
/*#region add_equip-bt*/
#check_equipe+label .circle-dotted {
    display: block;
}

#check_equipe+label .circle-fill {
    display: none;
}

#check_equipe:checked+label .circle-dotted {
    display: none;
}

#check_equipe:checked+label .circle-fill{
    display: block;
}
/*#endregion*/

/*#endregion */

/*#region Talent*/
#Talent {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 155px;
    background-color: aqua;
}

.nom_talent {
    width: 100%;
    height: 100%;
    border: 1px;
    background-color: blueviolet;
}

.desc_talent {
    width: 100%;
    height: 100%;
    border: 1px;
    background-color: rgb(255, 251, 0);

}

/*#endregion */

/*#region Description*/
#Description {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 120px;
    background-color: aqua;
}

/*#endregion */

/*#region Stat*/
#Stat {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 450px;
    background-color: aqua;
    display: flex;
}

#Name_stat {
    width: 20%;
    height: 100%;
    background-color: rgb(0, 238, 255);
    padding: 1px;
}

.Name_stat_case {
    width: 100%;
    margin-bottom: 1px;
    height: calc(100%/7 - 0.9px);
    background-color: rgb(143, 77, 77);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Val_stat {
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1px;
}

.Val_stat_case {
    width: 100%;
    margin-bottom: 1px;
    height: calc(100%/7 - 0.9px);
    background-color: rgb(121, 121, 121);
    display: grid;
    justify-content: center;
    align-items: center;
}

#Graph_stat {
    width: 65%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    padding: 1px;
}

.Graph_stat_case {
    width: 100%;
    margin-bottom: 1px;
    height: calc(100%/7 - 0.9px);
    background-color: rgb(42, 19, 255);
    display: grid;
    justify-content: center;
    align-items: center;
}

/*#endregion */

/*#region Table_type*/
#Table_type {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    background-color: rgb(0, 0, 0);
}

.tab_Type {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    border: 1px;
    background-color: rgb(255, 251, 0);
}

.Faibless_Resistance {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    border: 1px;
    background-color: blueviolet;
}

/*#endregion */

/*#region Attaque*/
#Attaque {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    height: 500px;
    background-color: aqua;
}

#Name_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(30, 255, 0, 0.219);
    padding: 1px;
}

#Type_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 0, 212, 0.219);
    padding: 1px;
}

#Category_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 251, 0, 0.671);
    padding: 1px;
}

#Puissance_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.219);
    padding: 1px;
}

#Precision_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(0, 195, 255, 0.774);
    padding: 1px;
}

#PP_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(162, 0, 255, 0.952);
    padding: 1px;
}

#Learning_atk {
    width: 20%;
    height: 100%;
    background-color: rgba(229, 255, 0, 0.952);
    padding: 1px;
}

.Val_atk_case{
    width: 100%;
    margin-bottom: 1px;
    height: calc(100%/7 - 0.9px);
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-items: center;
}

/*#endregion */

/*#region media*/
@media only screen and (max-width: 500px) {
    .pokemon {
        height: 60px;
        width: 100%;
        margin-bottom: 0.8%;
        overflow: hidden;
    }

    select {
        background-size: 1.5vw auto;
    }

    .img_pokemon {
        width: auto;
        margin-top: 7px;
        margin-left: 12px;
        height: 80%;
        aspect-ratio: 1/1;
    }
}

/*#endregion */
