html{
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
}

.textButton {
    padding-bottom: 14px;
}

#moveContainer{
    overflow-x: scroll;
    overflow-y: scroll;
    height: calc(100% - 140px);
}

#moveList{
    background-color: aqua;
    padding: 0;
}

.headCells{
    font-size: larger;
    padding: 10px;
    position: relative;
}

.AtkDescription{
    font-size: xx-small;
}

.AtkCell{
    padding: 10px;
    background: radial-gradient(rgb(150, 143, 143), rgb(63, 62, 63));
}

.AtkTypeLabel{
    border-radius: 50px;
}

#thead {
    position: fixed;
    z-index: 1;
    background-color: brown;
    margin-top: -90px;
    width: calc(100% - 19px);
    overflow-x: hidden;
}

th {
    width: max-content; 
}

/* sorter buttons */
.sorter{
    width: 15px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    float: right;
    cursor: pointer;
}

.sorterContainer{
    width: 50px;
    float: right;
}

@media only screen and (max-width: 600px) {
    #thead {
        width: calc(100% - 14px);
    }
    /* body{
        font-size: 12px;
    } */
}