@font-face {
    font-family: pokefont;
    src: url(../fonts/PKMN\ RBYGSC.ttf);
}

body{
    font-family:'pokefont';
}
div.mycontainer {
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: black;
}

div.mycontainter div {
    width: 100%;
    float: right;
    
}

div.mycontainer div#Logo{
    height: 50%;
    /* width: 25%; */
    overflow:visible;
    aspect-ratio: 1;
}

#test{
    float: right;
    width: 100%;
    overflow: visible;
}

#PokeLogo{
    width: 100%;
    height: 100%;

}

div.Connexion{
    background-color: black;
    float: right;
    height: 20%;
    position: relative;
    overflow: visible;
    padding: 0%;
}

div.mycontainer div#BackHeader{
    width: 100%;
    height: 80%;
    background-color: purple;
    display: flex;
}

div.mycontainer div#Title{
    width: 40%;
    height: 50%;    
    display: inline-block;
    margin-left: 1%;
    align-content: center;  
    font-size: 3vw;
}

div.mycontainer div#Buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding:0 20px;
    border-left: 5px solid black;
    border-right-style: solid;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: Pokemon;
}

#box1, #box2, #box3, #box4, #box5 {
    width: 100%;
    height: 100%;
    transform: skew(-45deg);
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow:hidden;
    border: 2px solid black;
}

#box1{
    margin-left: -5%;
}

#box1 > #tb1,
#box2 > #tb2,
#box3 > #tb3,
#box4 > #tb4,
#box5 > #tb5 {
    transform: skew(45deg);
}
