html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: black;
}

#header {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 20%;
    /* z-index: -1; */
}

#content{
    display: flex;
    height: 80%;
    width: 100%;
}

#img_l{
    left: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(51, 51, 51);
}

#core{
    height: 100%;
    width: 60%;
    background-color: gray;
}

#headerPokedex{
    width: 100%;
    height: 5%;
    background-color: grey;
    display: flex;
    align-items: center;
}

#filter_1{
    margin: 2%;
}

#filter_2{
    margin: 2%;
}

#filter_3{
    margin: 2%;
}

#searchBar{
    position: relative;
    margin-left: auto;
    right: 2%;
    width: 35%;
    height: 75%;
    background-color: black;
}

.search{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}


#pokedexCore{
    display: flex;
    width: 100%;
    height: 95%;
    background-color: azure;
}

#pokedex{
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    display: inline-block;
}

.pokemon{
    background-color: gray;
    height: 10.5%;
    width: 100%;
    margin-bottom: 0.8%;
    overflow: hidden;
}

.colors{
    position: relative;
    background: linear-gradient(35deg, black,red);
    width: 100%;
    height: 100%;
}

.info{
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 2;
    display: flex;
    margin-bottom: 0.3%;
    align-content: center;
}

.img_Pokemon{
    position: relative;
    background-color: grey;
    width: auto;
    margin-top: 8px;
    margin-left: 3%;
    height: 80%;
    aspect-ratio: 1/1;

}

.info_Pokemon{
    display: flex;
    width: auto;
    height: 100%;
    width: 100%;
}

.info_l{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.id_Pokemon{
    background-color: grey;
    width: 20%;
    height: 15%;
    margin-left: 5%;
    margin-top: 5%;
}

.nom_Pokemon{
    background-color: grey;
    width: 35%;
    height: 20%;
    margin-left: 5%;
    margin-top: 4%;
}

.type{
    display: flex;
    width: 60%;
    height: 20%;
    margin-left: 5%;
    margin-top: 4%;
}

.type_1{
    height: 100%;
    width: 50%;
    background: radial-gradient(rgb(228, 26, 228), purple);
    border-radius: 150px;
}

.type_2{
    height: 100%;
    width: 50%;
    background: radial-gradient(rgb(0, 255, 0),rgb(0, 99, 0));
    border-radius: 150px;
}

.info_r{
    height: 100%;
    width: 50%;
}

.niveau{
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    float: right;
    width: 25%;
    height: 20%;
    background-color: grey;
}

#img_r{
    right: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(51, 51, 51);
}