@font-face {
    font-family: 'pokefont';
    src: url(../fonts/Pokemon\ Classic.ttf);
}

@font-face {
    font-family: 'pokefont2';
    src: url(../fonts/PKMN\ RBYGSC.ttf);
}

/*#region Main Header */

* {
    box-sizing: border-box;
    font-family: 'pokefont';
}

body {
    font-family: 'pokefont';

}

.mycontainer {
    width: 100%;
    height: auto;
    position: relative;
    background-color: transparent;
    min-height: 30px;

}

div.mycontainter div {
    width: 100%;
    float: right;
}

div.mycontainer div#Logo {
    overflow: visible;
    -webkit-user-select: none;
    user-select: none;
}

#BackHeader {
    width: 100%;
    height: 100px;
    min-height: 80px;
    background-color: rgb(88, 88, 88);
    display: flex;
    position: relative;

}

div.mycontainer div#Title {
    height: 50%;
    display: inline-block;
    margin-left: 5px;
    align-content: center;
    font-size: 3em;
    font-weight: bold;
}

div.mycontainer div#Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 103%;
    height: 20%;
    border-right-style: solid;
    font-size: 1vw;
    margin-right: 30px;
    min-height: 2em;
}

html {
    overflow-x: hidden;
    height: -webkit-fill-available;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: 'pokefont';
}


#PokeLogo {
    width: 350px;
    max-width: 100%;
    min-width: 60px;
    height: auto;
    background-color: transparent;
}

#PokeLogo:hover {
    cursor: pointer;
}

/*#endregion */


/*#region Profile*/

#Profile {
    float: right;
    width: 100%;
    overflow: visible;
}

#Login {
background-color: #f33a2f;

  min-height: 18px;
  max-height: 100%;
  max-width: 100%;
  padding: 8px;
}

#Login:hover {
    filter: brightness(150%);
    cursor: pointer;
}

#Login:active {
    box-shadow: 0 20% #000;
}

.Connexion {
    background-color: black;
    float: right;
    position: relative;
    overflow: visible;
    padding: 0%;
    border-radius: 10%;
    font-family: 'pokefont';
}

#myPage {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 120px;
    height: 80px;
    position: relative;
}

#profilePicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    object-fit: cover;
    border: 2px solid black;
}

#myProfile {
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    color: black;
}

#disconnect {
    border: 0.25em solid black;
    border-radius: 10%;
    font-family: 'pokefont';
    background-color: rgb(200, 20, 20);
}

#disconnect:hover {
    filter: brightness(150%);
    cursor: pointer;
}

#disconnect:active {
    box-shadow: 0 20% #000;
}

/*#endregion */


/*#region Burger Button */

nav {
    height: 70px;
    color: rgb(220, 220, 220);
    display: flex;
    position: relative;
    z-index: 6;
    top: 0px;
    max-width: 70px;
}

nav a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

nav li {
    list-style: none;
    margin: 0 0.5rem;
}

nav a:hover {
    background-color: #FFF;
    transition: width 2s;
}

nav a::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #FFF;
    width: 0%;
    transition: all ease-in-out 300ms;

}

nav a:hover::after {
    width: 80%;
    transition-duration: 1s;
}

.bi-1-circle-fill {
    margin-top: 600px;
    margin-left: 300px;
    width: 100px;
    height: 100px;
}

#check,
.menu,
.nav-items {
    display: none;
}

/*#endregion */


/*#region Nav Bar*/


.navButton {
    width: 100%;
    height: 100%;
    transform: skew(-45deg);
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border: 0.25em solid black;
    font-size: 1vw;
    -webkit-user-select: none;
    user-select: none;
    position: static;
}

#pokedexPage {
    margin-left: -3%;
}

.navButton:hover {
    background-color: #FFF;
    cursor: pointer;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.24);
}

.navButton:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 60%),
        inset 2px 2px 3px rgb(0 0 0 / 60%);
}

.textButton {
    transform: skew(45deg);
    pointer-events: none;
    font-size: 1vw;
}

#forumPage {
    border-right: none;
}

/*#endregion */


/*#region responsivee*/
@media only screen and (max-width: 600px) {

    header {
        height: 50px;
    }

    div.mycontainer div#Title {
        font-size: 1.25rem;
    }

    .Connexion {
        font-size: 0.75rem;
        margin-right: 50px;
    }

    .textButton {
        font-size: 0.5rem;
    }

    .mycontainer {
        max-height: 100px;
        height: 20%;
    }

    #pokedexPage {
        margin-left: -1.5%;
    }

    #Nav {
        margin-right: 100%;
    }

    #Login {
        padding: 5px;
        font-size: 7px;
        margin-right: 25px;
        margin-top: 13px;
    }

    #BackHeader {
        height: 50px;
        min-height: 50px;
    }

    #PokeLogo {
        width: 160px;
        height: 50px;
        min-width: none;
        max-width: none;
    }

    #pokeTitle {
        margin-top: 7px;
    }

    .nav-items {
        position: fixed;
        display: inline;
        top: 50px;
        left: -250px;
        width: 250px;
        flex-direction: column;
        justify-content: space-evenly;
        background: rgb(20, 20, 20);
        padding: 2rem;
        z-index: 5;
        transition: all ease-in-out 500ms;
    }

    .overview,
    .account {
        flex-direction: column;
        width: auto;
    }

    .overview {
        margin: 0;
        font-family: 'pokefont';
    }

    .nav-items h3 {
        display: inline-block;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 1rem;
    }

    .account h3 {
        margin-top: 1rem;
    }

    nav svg {
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
        width: 50px;
        height: 50px;
    }

    nav li {
        margin: 1rem 0;
    }

    nav a {
        display: inline-block;
    }

    nav a:hover {
        margin-left: 2px;
        transition: all ease-in-out 300ms;
    }

    .menu {
        position: relative;
        left: 0rem;
        z-index: 99;
        display: block;
        height: 50px;
        padding: 0;
    }

    #check:checked~.nav-items {
        left: 0;
    }

    .navButton {
        display: none;
    }

    #Nav {
        background: transparent;
    }

    #profilePicture {
        width: 50px;
        height: 50px;
    }

    #profile {
        width: 85%;
    }
}

#header {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
}


.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;

}

/* Logo + titre */
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.header-logo img {
  height: 60px;
}

.header-title {
  font-size: 24px;
  color: #ff2e2e;
}

/* Connexion */
.header-login .connexion-btn {
  background-color: #ff2e2e;
  color: white;
  padding: 10px 20px;
  border: none;

  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
    display: flex;
  align-items: center;
}
#profilePicture {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
/* Bande rouge en bas */
.header-nav {
background-color: #f33a2f;
  display: flex;
  justify-content: center;
  gap: 128px;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

/* Boutons  */
.nav-btn {
background-color: #4a9bdc;
  color: #f5f5c6;
  padding: 8px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
   cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-btn:hover {
  background-color: #f5f5c6;
  color: #4a9bdc;
}
.nav-btn.active {
  background-color: white;
  color: #f33a2f; /* rouge poké */
  font-weight: bold;
  box-shadow: 0 0 10px #f33a2f;

}
/* Responsive  */
@media screen and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }

  .nav-btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
  }
}

.nav-toggle {
  display: none;
}

/* Hamburger style */
.nav-toggle-label {
  display: none;
  position: absolute;
  top: 18px;
  right: 25px;
  height: 25px;
  width: 30px;
  cursor: pointer;
  z-index: 1001;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  top: -8px;
}

.nav-toggle-label span::after {
  top: 8px;
}


.nav-toggle:checked + .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked + .nav-toggle-label span::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-toggle:checked + .nav-toggle-label span::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Responsive  */
@media (max-width: 1368px) {
  /* Affiche hamburger */
  .nav-toggle-label {
    display: block;
  }


  .header-nav {
    position: fixed;
    top: 70px; 
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    background-color: #f33a2f;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }


  .nav-toggle:checked ~ .header-nav {
    transform: translateX(0);
  }


  .nav-btn {
    width: 80%;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
  }


  .header-top {
    flex-wrap: wrap;
    padding: 10px 20px;
  }


  .header-logo img {
    height: 50px;
  }


  #profilePicture {
    width: 40px;
    height: 40px;
  }


  .header-login .connexion-btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

/* Responsive très petit  */
@media (max-width: 400px) {
  .nav-btn {
    font-size: 16px;
    width: 90%;
  }
}