html {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, #8d0000 0%, rgba(139, 13, 35, 1) 51%, rgba(61, 6, 16, 1) 100%);
    text-align: center;
}

.textButton {
    padding-bottom: 14px;
}

#moveContainer {
    overflow-x: scroll;
    overflow-y: scroll;
    height: calc(100% - 140px);
}

#moveList {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, #8d0000 0%, rgba(139, 13, 35, 1) 51%, rgba(61, 6, 16, 1) 100%);
    padding: 0;
}

.headCells {
    font-size: larger;
    color: white;
    padding: 10px;
    padding-right: 20px;
    /* position: relative; */
}

.AtkDescription {
    font-size: xx-small;
}

.AtkCell {
    padding: 10px;
    background: radial-gradient(rgb(150, 143, 143), rgb(63, 62, 63));
}

.AtkTypeLabel {
    border-radius: 50px;
}

#thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, #8d0000 0%, rgba(139, 13, 35, 1) 51%, rgba(61, 6, 16, 1) 100%);
    width: calc(100% - 14px);
    left: 0;
    overflow-x: hidden;
}

#thead > tr > .headCells {
    padding-right: 10px;
}

#thead > tr > .headCells > p {
    position: relative;
    padding-right: 20px;
}
#thead > tr > .headCells > p > img {
    position: absolute;
    right: 0;
}

th {
    width: min-content;
}

th > input {
    width: -webkit-fill-available;
}

/* sorter buttons */
.sorter {
    width: 15px;
    height: 30px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    position: relative;
    float: right;
    cursor: pointer;
}

.sorterContainer {
    width: 50px;
    float: right;
}

@media only screen and (max-width: 600px) {
    #thead {
        width: calc(100% - 14px);
    }

    /* body{
        font-size: 12px;
    } */
}