@font-face {
  font-family: 'pokefont2';
  src: url(../fonts/PKMN\ RBYGSC.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'pokefont2';
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e6002e;
  background-image: url('../style/images/pokeball-bg.png');
  background-repeat: repeat;
  background-size: 300px;
}

a {
  color: #006cff;
}

.login-title {
  font-size: 37px;
  color: #fff8d4;
  margin-bottom: 38px;
}

.register-msg {
  margin-top: 15px;
  color: white;
  font-size: 14px;
}

.register-msg a {
  color: #81d4fa;
  text-decoration: none;
}

.register-msg a:hover {
  text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 90%;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ffb3c1;
  color: #300000;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: #730000;
}

.password-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto 15px auto;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.password-wrapper img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
  filter: invert(100%);
}

.password-wrapper img:hover {
  opacity: 0.9;
}

input[type=submit] {
  margin-top: 15px;
  background-color: #3aa3e3;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type=submit]:hover {
  background-color: #0074cc;
}

.container {
    position: relative;
    width: 800px;
    z-index: 1;
    margin: 40px auto;
    background-color: #ff4d6d;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: white;
}

.error {
  color: #b80000;
}

@media screen and (max-width: 600px) {
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.pokeball-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pokeball-bg .ball {
  position: fixed;
  width: 180px;
  height: auto;
  opacity: 0.08;
  filter: invert(1);
  transform: rotate(45deg);
  z-index: 1;
}

.pokeball-bg .ball1 {
  top: -13.4rem;
  left: -3rem;
  transform: rotate(330deg);
  width: 572px;
}

.pokeball-bg .ball2 {
  top: -20.4rem;
  left: 56rem;
  transform: rotate(20deg);
  width: 499px;
}

.pokeball-bg .ball3 {
  bottom: 10rem;
  right: -1rem;
  transform: rotate(20deg);
  width: 248px;
  left: 82rem;
}

.pokeball-bg .ball4 {
  bottom: -8rem;
  right: 72rem;
  transform: rotate(170deg);
  width: 324px;
}

.pokeball-bg .ball5 {
  bottom: -3rem;
  right: 18rem;
  transform: rotate(-60deg);
  width: 199px;
}
