/*#region globalElement*/

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    cursor: pointer;
}

/*#endregion*/

/*#region headerPokedex*/
/*#endregion*/

/*#region aroundTypeTable*/
#main {
    width: 100%;
    height: calc(100% - 140px);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, #8d0000 0%, rgba(139, 13, 35, 1) 51%, rgba(61, 6, 16, 1) 100%);
    margin-top: 140px;
    margin: auto;
    overflow:auto;
}

#horizontalFlex {
    display: flex;
    width: min-content;
    margin: auto;
    margin-top: 75px;
    position: relative;
}

#defLabel {
    /* position: fixed;
    margin-left: 43%; */
    text-align: center;
    /* position: relative; */
    position : fixed;
    margin: auto;
    width: 100%;
    font-size: 35px;
    color: white;
    cursor: pointer;
    pointer-events: none;
}

#atckLabel {
    margin-left: 10px;
    position: relative;
    font-size: 35px;
    /* height: 100%; */
    color: white;
    writing-mode: vertical-rl;
    /* text-orientation:upright; */
    text-align: center;
}

#gridWrapper{
    position: relative;
    /* width: min-content;
    height: min-content; */
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region TypeTable*/
#grid {
    /* position: relative; */
    /* left: 100px;
    top: 100px; */
    display: grid;
    gap: 0.4%;
    grid-template-columns: 1fr repeat(18, 4em);
    grid-template-rows: repeat(19, 2em);
    align-content: center;
    /* width: max-content; */
    height: 655px;
    width: 1464px;
    background-color: black;
    grid-auto-flow: row dense;
}


.gridElement {
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 0;
    text-align: center;
    margin-top: 2px;
    align-content: center;
}

.gridElement>img {
    height: 25px;
    aspect-ratio: 1/1;
    filter: brightness(0);
    vertical-align: middle;
}

.gridElementButton {
    padding: 0, 5px, 0, 5px;
    /* margin-top: 0.5%; */
    /* min-width: 155px; */
    /* width: max-content; */
    min-width: max-content;
    text-align: center;
    /* float: left; */
    font-family: 'pokefont';
}

.gridElementButton>text {
    align-self: center;
    vertical-align: middle;
}

/*#endregion*/

/*#region under TypeTable*/
.info {
    color: white;
    width: 100%;
    color: white;
}

#warning > a:focus-visible {
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

/*#endregion*/

/*#region responsive*/
@media only screen and (max-width: 600px) {


    #defLabel, #atckLabel {
        font-size: 20px;
    }

    #main {
        height: 100%;
    }

    #horizontalFlex {
        margin-top: 50px;
    }

    .info {
        font-size: 10px;
    }


}

/*#endregion*/